* {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

/* 
3. Style the button according to the provided design
text color - #016f32
width      - 150px
background - goldenrod
 */
 
button {
    padding: 10px 50px;
    background: goldenrod;
    color: #016f32;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
}

#card-btn {
    display: none;
}

.card {
    display: inline-block;
    background: white;
    color: black;
    width: 30px;
    height: 50px;
    padding-top: 5px;
    border-radius: 3px;
    margin: 0 2px;
}

.red {
    color: red;
}

input {
    width: 50px;
}